@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	color:#232323;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-attachment: scroll;
	background-color: #E4ECF9;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}



/*------------------------------------------------topheader--------------------*/
#topheader{
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	width:1194px;
	height:106px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: none;
	background-color:#05619B;
	border: 5px solid #FFFFFF;
}
.logo {
	<!--background-image: url(images/logo.png);-->
	background-repeat: no-repeat;
	padding: 0 0 0 50px;
	float: left;
	height: 75px;
	width: 321px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color:#FFFFFF;
	font-size:25px;
}
.menu_area {
	float: right;
	margin-top: 78px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.works {
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	float: right;
	height: 50px;
	width: 75px;
	
}
.works:hover {
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;	
	float: right;
	height: 50px;
	width: 75px;
	
}
/*------------------------------------------------body_area--------------------*/
#body_area{
	width:1194px;
	height:820px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	float: none;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 5px solid #FFFFFF;
	background-color:#FFFFFF;
}
.left {
	margin: 0px;
	float: left;
	height: 820px;
	width: 163px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	overflow:hidden;	
	border-top:5px solid #000000;
}

.midarea {
	margin: 0px;
	float: left;
	height: 820px;
	width: 84%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top:5px solid #000000;
	border-left:5px solid #000000;
	border-bottom:5px solid #000000;
}
.right {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 820px;
	width: 170px;
}
/*------------------------------------------------fotter--------------------*/
#fotter{
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	width:1194px;
	height:106px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: none;
	background-color:#05619B;
	border: 5px solid #FFFFFF;
}
.fotter_links {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	margin: 0px;
	float: left;
	height: 20px;
	width: 100%;
	color: #FFFFFF;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.fotter_copyrights {
	font-family: "Trebuchet MS";
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	margin: 0px;
	float: left;
	height: 20px;
	width: 100%;
	color: #FFFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}
/*------------------------------------------------fotterlinks --------------------*/
a.fotterlink:link {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;

}
a.fotterlink:visited {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;

}
a.fotterlink:hover {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;

}
a.fotterlink:active{
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;

}

.button-style {
    background: url("js/jquery_ui_datepicker/smothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 10% 10% #E6E6E6;
    border: 1px solid #D3D3D3;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    font-family: Verdana,Arial,sans-serif;
    font-weight: normal;
    outline: medium none;
    padding: 0.3em 0.8em;
    text-align: center;
    text-decoration: none !important;
}

.button-style:focus, .button-style:hover {
    box-shadow: 0 0 6px #000000;
}